<%= form_with(model: angle) do |form| %>
  <% if angle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(angle.errors.count, "error") %> prohibited this angle from being saved:</h2>

      <ul>
        <% angle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% @categories.each do |c| %>
      <% if c[:selected] %>
        <input type="checkbox" name="categories[]" value="<%= c[:id] %>" checked="checked"><%= c[:name] %>
      <% else %>
        <input type="checkbox" name="categories[]" value="<%= c[:id] %>"><%= c[:name] %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
