<div id="<%= dom_id user_info %>">
  <p>
    <strong>Is main:</strong>
    <%= user_info.is_main %>
  </p>

  <p>
    <strong>Is need meal:</strong>
    <%= user_info.is_need_meal %>
  </p>

  <p>
    <strong>Is need sleep:</strong>
    <%= user_info.is_need_sleep %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_info.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user_info.name %>
  </p>

</div>
